Amg-Ingressos-aqui-notificacao-api/obj
Amg-Ingressos-aqui-notificacao-api/Debug
Amg-Ingressos-aqui-notificacao-api/obj/Amg-Ingressos-aqui-notificacao-api.csproj.nuget.dgspec.json
Amg-Ingressos-aqui-notificacao-api/obj/Amg-Ingressos-aqui-notificacao-api.csproj.nuget.g.props
Amg-Ingressos-aqui-notificacao-api/obj/project.assets.json
Amg-Ingressos-aqui-notificacao-api/obj/project.nuget.cache
Amg-Ingressos-aqui-notificacao-api/obj/Debug/net7.0/Amg-Ingressos-aqui-notificacao-api.csproj.AssemblyReference.cache
Amg-Ingressos-aqui-notificacao-api/obj/Debug/net7.0/Amg-Ingressos-aqui-notificacao-api.csproj.CoreCompileInputs.cache
Amg-Ingressos-aqui-notificacao-api/obj/Debug/net7.0/Amg-Ingressos-aqui-notificacao-api.dll
Amg-Ingressos-aqui-notificacao-api/obj/Debug/net7.0/Amg-Ingressos-aqui-notificacao-api.pdb
Amg-Ingressos-aqui-notificacao-api/obj/Debug/net7.0/apphost
Amg-Ingressos-aqui-notificacao-api/bin/Debug/net7.0/Amg-Ingressos-aqui-notificacao-api
Amg-Ingressos-aqui-notificacao-api/bin/Debug/net7.0/Amg-Ingressos-aqui-notificacao-api.dll
Amg-Ingressos-aqui-notificacao-api/bin/Debug/net7.0/Amg-Ingressos-aqui-notificacao-api.pdb
